@page
@using Course.Model.Database.Enum;
@model Course.Pages.StudentOpportunities.RequestModel
@{
}

<h2 class="mb-3 text-center ">Добавить новое достижение</h2>
<p>@Model.Massage</p>
<form method="post" enctype="multipart/form-data">
    <div class="text-center">
        <input type="hidden" asp-for="Input.FilePath" />
        <input type="hidden" asp-for="Input.ID" />
        <input type="hidden" asp-for="Input.IsDraft" />
        <div class="row justify-content-around p-3 mb-3">
        <div class="col mb-4">
            <label asp-for="Input.AchievementType" class="form-label fs-2"></label>
                <select asp-for="Input.AchievementType" asp-items="Html.GetEnumSelectList<AchiveType>()" class=" form-select text-center" id="type">
            </select>
        </div>
            <div class="col mb-4">
                <label asp-for="Input.Description" class="form-label fs-2"></label>
                <textarea asp-for="Input.Description"  class="form-control"  rows="3"></textarea>
            </div>
            <div class="col mb-4">
                <label asp-for="Input.Image"></label>

                <input asp-for="Input.Image" type="file">
                <span asp-validation-for="Input.Image"></span>
            </div>
        </div>

    <div class="row text-center p-3 mb-3">
        <div class="col mb-4">
                <button type="submit" class="btn-lg btn-primary btn-block mb-4 " asp-route-param="Draft">Черновик</button>
                <button type="submit" class="btn-lg btn-primary btn-block mb-4 " asp-route-param="Sent"> Отправить</button>
        </div>
        </div>
</form>
@if (Model.Input.IsDraft)
{
    <img src="\Images\@Model.Input.FilePath" alt="Achievement Image" weiht="300" height="400">
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}