@page
@model Course.Pages.Students.TestModel
@{
}
<p>@Model.Massage</p>
<form method="post" enctype="multipart/form-data">
        <label asp-for="Image"></label>

    <input asp-for="Image" type="file">
    <span asp-validation-for="Image"></span>

    <input class="btn" type="submit">
</form>