@page
@model Course.Pages.Administrator.AdministratorPanelAction.ConfirmModel
@{
}
<form method="post">
    <input type="hidden" asp-for="SportAchievement.ID" />
    <input type="hidden" asp-for="SportAchievement.Description" />
    <input type="hidden" asp-for="SportAchievement.AchievementType" />
    <input type="hidden" asp-for="SportAchievement.FilePath" />
    <input type="submit" value="Подтвердить" class="btn btn-success" /> |
    <a class="nav-link text-dark" asp-area="" asp-page="/Administrator/AdministratorPanel">Панель администратора</a>
</form>
