@page
@model Course.Pages.Administrator.AdministratorPanelAction.ConfirmModel
@{
}
<form method="post">
    <input type="hidden" asp-for="SportAchievement.ID" />
    <input type="submit" value="Подтвердить" class="btn btn-success" /> |
    <a asp-page="./Index">Back to List</a>
</form>
