@page
@using Course.Model.Database;
@model Course.Pages.Administrator.AdministratorPanelModel
@{
}
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя студентов</th>
            <th scope="col">Вид достижения</th>
            <th scope="col">Информация</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model?.AchievementsInformation){
        <tr>
            <th scope="row"></th>
            <td>
               @item.FullName
            </td>
             <td>@EnumToRu.GetRuAchiveType(item.AchievementType)</td>
            <td>@item.Description</td>
                <td><button type="button" class="btn btn-primary" action="delete"><a class="text-dark" asp-route-id="@item.Id" asp-page="/Administrator/AdministratorPanelAction/About">Изменить</a></button></td>
        </tr>
        }
    </tbody>

</table>